{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible"
 content="IE=edge">    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/base.css/">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="icon" type="image/png" href="/static/img/donut.png">



  </head>
  {% block head %}
  {% endblock %}

    {% block style %}
    {% endblock %}

<body>
  {% block content %}
      {% endblock %}

    {% if messages %}
<script type="text/javascript">
 {% for message in messages %}
Materialize.toast('{{message}}', 5000, 'alert-error');
{% endfor %}
    </script>
        {% endif %}

 {% block javascript %}
  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

 <script src="/static/js/init.js"></script>

  {% endblock %}

</body>



</html>
