h5{
	color:white;
}
body{
  background: url('/static/img/detailbackg.png') no-repeat center center;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
}


.tab-wrapper{
	margin-top:2em;
}

.tabs .tab a{
	color:black;
}
.tabs .indicator {
  background-color:#26a69a;
}
.brand-logo{
  margin-left:1%;
  margin-top:15px;
}
.navbar a{
  text-shadow: 1px 1px 1px #000;
}
