{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<title> Update Images | WheelDine</title>
<link rel="stylesheet" href="{% static "css/delete_image.css" %}">
<link href="{% static "css/dropzone.css" %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block style %}
<style>
img
{
    width: 33%;
    display: inline-block;
    float: left;
}

</style>


{% endblock %}
{% block content %}
<div class="row">
  <div class="container ">
  <form class="dropzone" action=" " method="POST" id='myDropzone' enctype="multipart/form-data">
             {% csrf_token %}
             {% for image in plustruck.plustruckimage_set.all %}

             <input name="file" value="{{image.file.url}}" type="text">
             <img src="{{image.file.url}}" alt="Click me to remove the file." data-dz-remove />
             {% endfor %}

         </form>

       </div>



       <script src="{% static "js/dropzone.js" %}"></script>
       <script type="text/javascript">
              Dropzone.options.myDropzone = {

                  // Prevents Dropzone from uploading dropped files immediately
                  autoProcessQueue : false,
                  addRemoveLinks: true,

                  maxFilesize: 5, //MB
                  maxFiles: 6,


                  init : function() {
                      var submitButton = document.querySelector("#submit-all")
                      myDropzone = this;

                      submitButton.addEventListener("click", function() {
                          myDropzone.processQueue();
                          // Tell Dropzone to process all queued files.
                      });

                      // You might want to show the submit button only when
                      // files are dropped here:
                      this.on("addedfile", function() {
                          // Show submit button here and/or inform user to click it.
                      });

                  }
              };
          </script>


</div>

<!-- <form action="" method="post">{% csrf_token %}
    <i class="mdi-content-clear" type="submit">Delete</i>
</form>
  <a class='waves-effect waves-light btn' href="{{ object.get_absolute_url }}">Cancel</a> -->
{% endblock %}
