{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
<link rel="stylesheet" href="/static/css/home.css/">
<meta name="description" content="Connect and review the Foodtrucks and events near you. Everyone wants to know the who's and whats outside. Find out with Wheeldine." />

<title>Home | WheelDine</title>
<!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78607915-3', 'auto');
  ga('send', 'pageview');

</script>
 <link rel="icon" type="image/png" href="/static/img/donut.png">
{% endblock %}

    {% block content %}
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

  <div id="wrapper">
 <div class="nav">
    <nav class="transparent">
      <div class="nav-wrapper container-fluid">
        <a href="{% url 'home' %}"><img src='/static/img/white-color-logo-2' class="brand-logo img-responsive" height="27" alt="WheelDine"></a>
        <ul class="right hide-on-med-and-down">
  {% if user.is_authenticated %}
  <li><a href="{% url 'profile' %}">{{request.user}}</a></li>
   <li><a href="{% url 'map' %}">Map</a></li>
  <li><a href="{% url 'account_logout' %}">Logout</a></li>
  {% else %}
  <li><a href="{% url 'account_login' %}">Login</a></li>
  <li><a href="{% url 'account_signup' %}"><span style="border: 2px solid white; border-radius:2px;padding: 10px 13px;">Create an account</span></a></li></li>
  {% endif %}
        </ul>



<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
  </nav>
      </div>
          <ul id="nav-mobile" class="side-nav">

  {% if user.is_authenticated %}
    <li><a href="{% url 'profile' %}">{{request.user}}</a></li>
   <li><a href="{% url 'map' %}">Map</a></li>
  <li><a href="{% url 'account_logout' %}">Logout</a></li>
  {% else %}
  <li><a href="{% url 'map' %}">Map</a></li>
  <li><a href="{% url 'account_login' %}">Login</a></li>
  <li><a href="{% url 'account_signup' %}">Create an account</a></li></li>
  {% endif %}
</ul>
        <div class='container' id='inner-wrap'>
          <div class='row'>
            <div class="col s12 m12 l12">
              <h3><b>Connecting WheelDiners <span style="color:#ff5252">&amp</span> their<br> favorite Foodtrucks</b></h3>

              </div>
            </div>
          </div>
            <div class='container' id="search_content">
            <div class='row center'>

              <div class="col s12 m7 l6 offset-l1">
              <form class="search" method="GET" action='/search/'>
                    <input id='search' type="seach" placeholder="Search by name, city, state, zip code..." name="q">
                    <button type="submit">Search</button>
                  </form>
                </div>
                <div id="or" class="col s12 m1 l1">
                  <h5>Or</h5>
              </div>
                  <div id="add_button" class="col s12 m3 l4 pull-l1">

                    <a class="btn waves-effect deep-orange lighten-2" href="{% url 'select_form' %}">Add yours</a>
                  </div>

                  </div>
                  </div>
      </div>
      </div>
      <div class="section" id="cities">
      <div class="container">
<div class="row">
<div class="col s12 m12 l12">
 <h3 class="flow-text center"><b>Popular Cities</b></h3>
</div>
<div class="col s12 l12">

  <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><i class="material-icons">business</i><b>Cities</b></div>
        <div class="collapsible-body"><p class="flow-text center"><a href="/search/?q=New York, NY">New York, NY</a> - <a href="/search/?q=Chicago, Il">Chicago, Il</a> - <a href="/search/?q=Portland, OR">Portland, OR</a> - <a href="/search/?q=Boston, MA">Boston, MA</a> - <a href="/search/?q=Austin, TX">Austin, TX</a> -
          <a href="/search/?q=Miami, FL">Miami, FL</a> - <a href="/search/?q=San Francisco, CA">San Francisco, CA</a> - <a href="/search/?q=Nashville, TN">Nashville, TN</a> - <a href="/search/?q=Washington, DC">Washington, DC</a> -
            <a href="/search/?q=San Diego, CA">San Diego, CA</a> - <a href="/search/?q=Atlanta, GA">Atlanta, GA</a> - <a href="/search/?q=Charlotte, NC">Charlotte, NC</a> - <a href="/search/?q=Denver, CO">Denver, CO</a></p></div>
      </li>
    </ul>
  </div>

</div>
</div>
</div>
<div class="hide-on-med-and-up">
<div class="divider"></div>
</div>
</div>
         <div class="section scrollspy" id="work">
          <div class="container">
            <div class="row center">
        <h3 class="flow-text center"><b>Recently Added</b></h3>
      </div>
        <br>
        <div class="row">

          {% for plus_truck in recent_trucks %}
            <div class="col s6 m4 l2">
                <div class="card">
                    <div class="card-image">

                        <img class="activator" id="featured-image" src="{{plus_truck.truck_image_url }}" height="160" class="responsive-img">
                    </div>
                    <div class="card-content">
                      <a href='{{ plus_truck.get_absolute_url }}'><h6 data-tooltip="{{plus_truck.plus_truck_name}}" data-delay="10" data-position="top" class="collection-item tooltipped"><b>{{plus_truck.plus_truck_name|truncatechars:17}}</b></h6></a>
                        <p>{{plus_truck.plus_city}}, {{plus_truck.plus_state}}</p>
                        <!-- <p><small>Created: {{plus_truck.created_date|date:'M, d Y'}}</small></p> -->
                    </div>

                  </div>
                </div>
                    {% endfor %}
                </div>
            <div class="row center">
          </div>
          </div>
            </div>
            <div class="section scrollspy" id="sign-up">
            <div class="container">
      <div class="row center">
      <div class="col s12 l12">
        <div class="newsletter">
          <h3 class="flow-text center"><b>Join our E-mail list to stay in the loop</b></h3>
        </div>


      </div>
      <div class="row center">
      <div class="col s12 l8 offset-l2">

          <form method='POST' action=''>
            {% csrf_token %}
            <div class="row">
            <div class="input-field col s12 m10 l10">
               <i class="material-icons prefix">email</i>
              <input id="id_email" class="validate" name="email" type="text">
              <label for="id_email">E-mail</label>
                {{form.email.errors}}
              </div>
              <div class="input-field col s12 m2 l2">
                <button class="btn waves-effect waves-light deep-orange lighten-2" type="submit" name="action">Join
                </button>
              </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hide-on-med-and-up">
  <div class="divider"></div>
</div>
</div>


<div class="section scrollspy" id="map-content">
    <div class="container-fluid">
      <div class="row center">
        <div class="hide-on-med-and-up">
        <a href="{% url 'map' %}" class="waves-effect waves-light btn"><i class="material-icons right">my_location</i>Go To Fullscreen Map</a>
      </div>
        <div class="col m12 s12 l10 offset-l1">
          <div class="card">
           <div id="actual-map">
            <div class="card-content">
          <div id='map'></div>
        </div>
      </div>

     <div class="hide-on-small-only">
        <div class="right-content">
          <div class="col s12 m12">
            <div class="card-content">
            <h3 class="flow-text center"><b>WheelDine with a dynamic map</b></h3>
            <p class="lead">Foodtrucks, Plustrucks, Events, or D, all of the above.</p>
            <div class="row center">
              <br>
              <br>
            <a href="{% url 'map' %}" class="waves-effect waves-light btn"><i class="material-icons right">my_location</i>Fullscreen Map</a>
          </div>
          </div>
        </div>
      </div>
    </div>
              </div>
</div>
</div>
</div>
</div>

{% if request.user.is_authenticated %}
<div class="hide">
  {% else %}
    <div class="section scrollspy" id="bottom-wrapper">
    <div class="container">
      <div class="row center">
        <div class="col s12 m12 l12">
            <h4><b>Thanks for your help. Now join in.</b></h4>
        </div>
          <div class="editContent">
            <p class="lead">Follow your favorites, check in, leave feedback. All for free.</p>
          </div>

          <div class="row center">
            <div class="col s12 m12 l12">
              <a class="waves-effect waves-light btn" href="{% url 'account_signup' %}">Create an account</a>
            </div>
          </div>
          <div class="divider"></div>
          <br>
              <div class="row center">

                <span p class="lead">Already have one?</p>


                <a class="waves-effect waves-light btn white" href="{% url 'account_login' %}"><span class="black-text">Sign in</span></a>
              </div>
              </div></span>
            </div>
        </div>
      </div>
      {% endif %}
</div>
</div>

</div>
</div>
</div>
 </div>



<!-- Footer -->
{% include 'trucks/footer.html' %}
<script>

L.mapbox.accessToken = 'pk.eyJ1IjoiamNnYWl0aGVyIiwiYSI6ImNpa2l4cjlsZjA1Yjh0bm02aGpqcDIzdDMifQ.cxb-nD-EoNJxtSIYU5hg9A';
var map = L.mapbox.map('map')
    .setView([38.88, -97.011], 3)
    .addLayer(L.mapbox.tileLayer('mapbox.streets'));
    map.dragging.disable();
    map.touchZoom.disable();
    map.scrollWheelZoom.disable();
    map.doubleClickZoom.disable();


 var EventJsonLayer = L.mapbox.featureLayer()
    .loadURL('{% url "event_data" %}')
    .on('ready', function(e) {


      e.target.eachLayer(function(layer) {
      var eventContent = '<a class="popup" href="event/' + layer.feature.properties.slug + '">' +'<p>' + layer.feature.properties.event_name + '</a>' + '<br>' + layer.feature.properties.event_address + " " + layer.feature.properties.event_city + ", " + layer.feature.properties.event_state + '</p>';
      layer.bindPopup(eventContent);
      layer.setIcon(L.mapbox.marker.icon({
        "marker-color":'#ff7043',
        "marker-symbol": "embassy",
        "marker-size": 'large',
      }));

    });

});

 var BaseJsonLayer = L.mapbox.featureLayer()
    .loadURL('{% url "base_data" %}')
    .on('ready', function(e) {
      e.target.eachLayer(function(layer) {
      var baseContent = '<p>' + layer.feature.properties.base_truck_name + '<br>' + layer.feature.properties.base_address + " " + layer.feature.properties.base_city + ", " + layer.feature.properties.base_state + '</p>';
      layer.bindPopup(baseContent);
      layer.setIcon(L.mapbox.marker.icon({
        "marker-color":'#00897b',
        "marker-symbol": "bus",
      }));

    });

});
var PremiumJsonLayer = L.mapbox.featureLayer()
    .loadURL('{% url "premium_data" %}')
    .on('ready', function(e) {
    var clusterGroup = new L.MarkerClusterGroup();
    e.target.eachLayer(function(layer) {
      var premiumContent = '<a class="popup" href="' + layer.feature.properties.slug + '">' +'<p>' + layer.feature.properties.plus_truck_name + '</a>' + "<br>" + layer.feature.properties.plus_address + " " + layer.feature.properties.plus_city + ", " + layer.feature.properties.plus_state + '</p>';
      layer.bindPopup(premiumContent);
      layer.setIcon(L.mapbox.marker.icon({
        "marker-color":'#ff8888',
        'marker-symbol': 'bus',
        "marker-size": 'large',
      }));


        clusterGroup.addLayer(PremiumJsonLayer);
        clusterGroup.addLayer(BaseJsonLayer);
        clusterGroup.addLayer(EventJsonLayer);

    });

    map.addLayer(clusterGroup);



});
    </script>
      {% endblock %}
